.swiper-button-next{
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5a50d(0, 0, 0, 0.45);
  border: none;
  border-radius: 50%;            
  cursor: pointer;
  backdrop-filter: blur(4px);
  transition: background 0.2s ease, transform 0.2s ease;
}

.swiper-button-prev {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5a50d(0, 0, 0, 0.45);
  border: none;
  border-radius: 50%;            
  cursor: pointer;
  backdrop-filter: blur(4px);
  transition: background 0.2s ease, transform 0.2s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #e5a50d;
  color: #000;
}

.swiper-pagination-bullet {
  background: #e5a50d(0, 0, 0, 0.45);
  width: 10px !important;
  height: 10px !important;
  margin: 10px !important;
}

.swiper-pagination-bullet-active {
  background: #e5a50d(0, 0, 0, 0.45);
  width: 12px !important;
  height: 12px !important;
}
